.proj-header {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    margin-bottom: 40px;
    justify-content: left;
    background-color: rgba(0,0,0,0.7);
}

.header-img {
    width: 500px;
    height: 120px;
}

.header-p {
    font-size: 1.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    margin-top: 0;
}

.projects-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 30px;
    cursor: pointer;
    transition: all 1s ease;
}

.project-card:hover {
    width: 320px;
    height: 320px;
    margin: 10px;
}

.project-card:hover .title {
    font-size: 1.4em;
}

.project-card:hover .proj-title {
    height: 60px;
}

.project-card:hover .media {
    width: 280px;
    height: 260px;
}

.media {
    overflow: hidden;
    width: 260px;
    height: 240px;
    margin: 5px 20px 20px 20px;
    background-color: black;
    border-radius: 20px;
    transition: all 1s ease;
}

.project-info {
    width: 800px;
    height: 450px;
    margin: 10px;
}

.proj-title{
    border-bottom: 2px solid #0252FE;
    box-shadow: 0px 5px 0px #6a99ff;
    height: 50px;
    padding: 10px 0px 0px 0px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    transition: all 1s ease;
}

.title {
    font-style: bold;
    font-weight: 900;
    font-size: 1.2em;
    margin: auto;
    color: #0252FE;
    transition: all 1s ease;
    text-align: center;
}

