hmtl, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dad7cd;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(../Images/page_background1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.top {
    display: flex;
    justify-content: center;
    margin-bottom: 50px; /* buffer */
}

h2 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.bottom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}